.Header {
    position: absolute;
    padding: .5em;
    text-align: center;
    width: 100%;
    .copy {
		margin-right: .25em;
	    vertical-align: top;
	}
	.highscore{
		float: left;
		vertical-align: top;
		width: 50%;
		text-align: left;
		display: inline-block;
		color: #fff;
	}
	// .highscore.big {
	// 	color: #fff;
	// }
	.highscore.small {
		text-align: right;
	}
}