/*
 *
 * Typography resets, font-face declarations and helpful mixins
 *
 */

@include font-face(HelveticaNeue, '../fonts/HelveticaNeueLTStd-Roman');
@include font-face(HelveticaNeue, '../fonts/HelveticaNeueLTStd-Roman', normal);
@include font-face(HelveticaNeue, '../fonts/HelveticaNeueLTStd-Bd', bold);
@include font-face(HelveticaNeue, '../fonts/HelveticaNeueLTStd-Th', 100);
@include font-face('Glyphicons Halflings', '../fonts/glyphicons-halflings-regular');

// @import url(http://fonts.googleapis.com/css?family="Roboto":100,500italic,400);



@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 *
 * Begin base html element resets
 * Outside of this file, select on *classes* versus native HTML elements
 *
 */


html, body {
  font-family: $fontReg;
}

html {
  font-size: 100%;
}

body {
  // @include font-smoothing; // <- _mixins.scss
  font-size: 1rem;
  margin: 0;
}

p, ul, ol {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-size: 12px;
  color: $darkGray;
  text-decoration: underline;
  &.small {
    font-size: 10px;
    color: $darkGray;
    text-decoration: underline;
  }
}


.white {
  color: $white;
}

.capitalized-string {
  text-transform: capitalize;
}

.uppercase-string {
  text-transform: uppercase;
  font-family: $fontBld;
}

small {
  font-size: 12px;
  color: $darkGray;
  line-height: 16px;
}
.textarea, textarea, p, ul, li {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: $fontColor;
  &.medium {
    font-size: 14px;
    line-height: 20px;
  }
  &.small {
    font-size: 12px;
    line-height: 16px;
    a {
      color: $mediumBlue;
      font-style: 12px;
      line-height: 16px;
      font-family: $fontBld;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

h1 {
  font-size: 40px;
  line-height: 50px;
  color: $fontColor;
  font-family: $fontLt;
  a{
    font-size: 40px;
    line-height: 50px;
  }
}
h2 {
  font-size: 30px;
  line-height: 36px;
  color: $fontColor;
  font-family: $fontLt;
  a{
    font-size: 30px;
    line-height: 36px;
  }
}
h3 {
  font-size: 24px;
  line-height: 30px;
  color: $fontColor;
  font-family: $fontLt;
  a{
    font-size: 24px;
    line-height: 30px;
  }
}
h4 {
  font-size: 14px;
  line-height: 18px;
  color: $fontColor;
  font-family: $fontLt;
  a{
    font-size: 18px;
    line-height: 24px;
  }
}
h5 {
  font-size: 16px;
  line-height: 20px;
  color: $fontColor;
  font-family: $fontBld;
  a{
    font-size: 16px;
    line-height: 20px;
  }
}
h6 {
  font-size: 12px;
  line-height: 16px;
  color: $fontColor;
  font-family: $fontBld;
  a{
    font-size: 12px;
    line-height: 16px;
  }
}



@include media(min-width $medium-breakpoint ) {

  .textarea, textarea, p, ul, li {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    &.medium {
      font-size: 14px;
      line-height: 20px;
    }
    &.small {
      font-size: 12px;
      line-height: 16px;

      a{
        font-style: 12px;
        line-height: 16px;
        font-family: $fontBld;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  h1 {
    font-size: 50px;
    line-height: 54px;
    font-family: $fontLt;
    a {
      font-size: 50px;
      line-height: 54px;
    }
  }
  h2 {
    font-size: 40px;
    line-height: 48px;
    font-family: $fontLt;
    a{
      font-size: 40px;
      line-height: 48px;
    }
  }
  h3 {
    font-size: 30px;
    line-height: 36px;
    font-family: $fontLt;
    a{
      font-size: 30px;
      line-height: 36px;
    }
  }
  h4 {
    font-size: 20px;
    line-height: 24px;
    font-family: $fontLt;
    a{
      font-size: 20px;
      line-height: 24px;
    }
  }
  h5 {
    font-size: 18px;
    line-height: 24px;
    font-family: $fontBld;
    a{
      font-size: 18px;
      line-height: 24px;
    }
  }
  h6 {
    font-size: 12px;
    line-height: 16px;
    font-family: $fontBld;
    a{
      font-size: 12px;
      line-height: 16px;
    }
  }
}
