.Footer {
	position: absolute;
	bottom: -110px;
	width: 100%;
	.inner {
		padding: 1em;
	}
	&.drawerOpen {
		bottom: 0;
	}
	&.drawerPeak {
		bottom: 0;
	}
	.info {
		@include clearfix();
		.drawerBtn {
			display: block;
			cursor: pointer;
			float: right;
		}
	}
	.adsbygoogle{
		overflow: hidden;
		max-height: 100px;
	}
	h3{
		margin: 0 .5em 0 0;
	}
	.drawer{
		text-align: center;
		background: $footer-bg-color;
		.highscore-container{
			* {
				display: inline-block;
				margin-right: .5em;
			}
		}
	}
}