.Footer {
	position: absolute;
	bottom: -112px;
	width: 100%;
	.inner {
		padding: 1em;
	}
	&.drawerOpen {
		bottom: 0;
	}
	&.drawerPeak {
		bottom: 0;
	}
	.info {
		@include clearfix();
		.highscore-small {
			margin-left: .75em;
			color: #fff;
			float: left;
			line-height: 44px;
			vertical-align: top;
		}
		.drawerBtn {
			display: block;
			cursor: pointer;
			float: right;
		}
	}
	.log-button {
	    font-size: 16px;
	    display: inline-block;
	    padding: .25em 0;
	    margin: 0 0 .25em 0;
	}
	.adsbygoogle{
		overflow: hidden;
		max-height: 100px;
	}
	h3{
		margin: 0 .5em 0 0;
	}
	.drawer{
		background: $footer-bg-color;
		.highscore-container{
			* {
				display: inline-block;
				margin-right: .5em;
			}
		}
	}
}