.Footer {
	position: absolute;
	bottom: -140px;
	width: 100%;
	.inner {
		padding: 1em;
	}
	&.drawerOpen {
		bottom: 0;
	}
	&.drawerPeak {
		bottom: 0;
	}
	.info {
		@include clearfix();
		.highscore{
			margin-left: .75em;
			float: left;
			line-height: 44px;
			vertical-align: top;
		}
		.highscore.big {
			color: #f00;
		}
		.highscore.small {
			color: #fff;
		}
		.drawerBtn {
			display: block;
			cursor: pointer;
			float: right;
		}
	}
	.adsbygoogle{
		overflow: hidden;
		max-height: 100px;
	}
	h3{
		margin: 0 .5em 0 0;
	}
	.drawer{
		background: $footer-bg-color;
		.highscore-container{
			* {
				display: inline-block;
				margin-right: .5em;
			}
		}
	}
}