$icons: sprite-map("icons/*.png", $layout: smart);

.icon {
	background: $icons;
	position: relative;
	display: inline-block;
}

.icon-icon-menu {
	@include get-sprite( icon-menu );
}

.icon-icon-close {
	@include get-sprite( icon-close );
}

.icon-icon-facebook {
	@include get-sprite( icon-facebook );
}

