<!DOCTYPE html>
<html>
  <head>
    <title>CONTRACKTOR</title>
    <base href="/" />
    <link rel="stylesheet" href="assets/stylesheets/global.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
  </head>
  <body>
    <div id="App">
      <div className="loading">
        <div className="loader"></div>
        <h2>Loading</h2>
      </div>
    </div>

    <script src="assets/javascripts/vendor.js"></script>
    <script src="assets/javascripts/bundle.js"></script>
  </body>

</html>
