<!DOCTYPE html>
<html>
  <head>
    <title>Slow the F down</title>
    <link rel="stylesheet" href="assets/stylesheets/global.css">
    
    <meta name="description" content="A game designed to take your mind off of a busy schedule.  Focus on keeping the F under control to advance your score and win bonus points!">
    <meta name="author" content="Adriaan Balt Louis Scholvinck">

    <meta property="og:title" content="Slow the F down">
    <meta property="og:image" content="/assets/images/ogimage.jpg">
    <meta property="og:description" content="A game designed to take your mind off of a busy schedule.  Focus on keeping the F under control to advance your score and win bonus points!">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta charset="UTF-8">

  </head>

  <body>
    <div id="App">
      <div class="loading intro">
        <div class="inner">
          <h1>Happy Clouds</h1>
        </div>
      </div>
    </div>

    <script src="assets/javascripts/vendor.js"></script>
    <script src="assets/javascripts/bundle.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-17170088-2', 'auto');
      ga('send', 'pageview');
    </script>
    
  </body>
</html>