<!DOCTYPE html>
<html>
  <head>
    <title>Slow the F down</title>
    <link rel="stylesheet" href="assets/stylesheets/global.css">
    
    <meta name="description" content="A game designed to take your mind off of a busy schedule.  Focus on keeping the F under control to advance your score and win bonus points!">
    <meta name="author" content="Adriaan Balt Louis Scholvinck">

    <meta property="og:title" content="Slow the F down">
    <meta property="og:image" content="/assets/images/ogimage.jpg">
    <meta property="og:description" content="A game designed to take your mind off of a busy schedule.  Focus on keeping the F under control to advance your score and win bonus points!">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta charset="UTF-8">

  </head>

  <body>
    <div class="ad">
      <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-3194664333843576"
       data-ad-slot="7746823241"
       data-ad-format="auto"></ins>
    </div>
    <div id="App">
      <div class="loading intro">
        <div class="inner">
          <h1>Slow the F down</h1>
          <section>
            <h2>What is it?</h2>
            <p>A game designed to take your mind off of a busy schedule.  Focus on keeping the F under control to advance your score and win bonus points!</p>
          </section>
          <section>
            <h2>How to play</h2>
            <p>The longer you follow the F with your thumb the higher your score.</p>
            <p>The white number is your progress. The red number is your high score.</p>
          </section>
          <section>
            <div class="loader"></div>
          </section>
          <section>
            <img src="/assets/images/ogimage.jpg" alt="Slow the F down" />
          </section>
          <section>
            <h1>Special thanks to (in no particular order)</h1>
            <p>Caroline Kallback support pillar</p>
            <p>Roger Beaman guru sensei</p>
            <p>Brian Crooks eccentric design master</p>
            <p>Greg Kepler extreme randomness</p>
            <p>Charlie Hoey threejs advice</p>
            <p>Robert Christ beta testing and ad advice</p>
            <p>Matthew Arrow beta testing</p>
            <p>Neon Jesus Jonus beta testing</p>
            <p>Ryan Thom beta testing</p>
            <p>Aaron Venn beta testing</p>
            <p>Kelsey Warman beta testing</p>
            <p>Anton Ward beta testing</p>
            <p>Jeesun Kim beta testing</p>
            <p>Dan Nichols beta testing</p>
            <p>Shadertoy tinker sandbox</p>
          </section>
          <a href="http://www.balt.us" target="_blank">BALT.us</a>
        </div>
      </div>
    </div>

    <script src="assets/javascripts/vendor.js"></script>
    <script src="assets/javascripts/bundle.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-17170088-2', 'auto');
      ga('send', 'pageview');
    </script>
    
  </body>
</html>