<!DOCTYPE HTML> 
<html lang="en-us">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"> 
  <title>Widgets Magazine</title> 
  <style type="text/css" media="screen"> 
  </style>
  <script type='text/javascript'>
    (function() {
      var useSSL = 'https:' == document.location.protocol;
      var src = (useSSL ? 'https:' : 'http:') +
          '//www.googletagservices.com/tag/js/gpt.js';
      document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
    })();
  </script>
   
  <script type='text/javascript'>
  if (window.googletag && googletag.apiReady) {
    console.log ( '(window.googletag && googletag.apiReady)' , (window.googletag && googletag.apiReady) );
    googletag.cmd.push(function() {
      googletag.defineSlot('/22986605/slowthefdown', [300, 100], 'div-gpt-ad-1464285602016-0').addService(googletag.pubads());
      googletag.pubads().enableSingleRequest();
      googletag.pubads().enableSyncRendering();
      googletag.enableServices();
    });
  }
  </script>
</head>

<body>
  <!-- /22986605/slowthefdown -->
  <div id='div-gpt-ad-1464285602016-0' style='height:100px; width:300px;'>
    <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1464285602016-0'); });
    </script>
  </div>
</body>

</html>