<!DOCTYPE HTML> 
<html lang="en-us">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"> 
  <title>AD Test</title> 
</head>

<body>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- highscore-ad -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3194664333843576"
         data-ad-slot="7746823241"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</body>

</html>